.Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.MenuList {
  display: flex;
  gap: 20px;
  list-style: none;
}

.Menu a {
  /* .Menu 안에 있는 a 태그에만 스타일 적용 */
  text-decoration: none;
  color: black;
}

.UtilMenu {
  text-decoration: none;
  color: gray;
  font-size: 15px;
}

.Hamburger {
  /* Hamburger 스타일 추가 */
  display: none; /* 기본적으로 숨김 */
  font-size: 24px; /* 적절한 크기로 조절 */
  cursor: pointer; /* 클릭 가능하도록 커서 변경 */
}

@media screen and (max-width: 496px) {
  /* max-width 사용 */
  .MenuList {
    display: none;
  }
  .Hamburger {
    display: block; /* 430px 이하에서 나타남 */
  }
}
