.Wrapper {
  background-color: rgb(242, 242, 242);
  // height: 300px;
  padding: 30px;
}
.List {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1250px;

  margin: 0 auto;
}
.Logo {
  // width: 30%;
  // text-align: left;

  display: flex;
  align-items: center;
  gap: 20px;
}

.Content {
  display: flex;
  gap: 30px;
}

.Menu {
  display: flex;
  list-style: none;
  gap: 10px;
  li {
    a {
      color: gray;
      &::after {
        content: "|";
        padding-left: 8px;
      }
    }
    &:last-child {
      a {
        &::after {
          content: "";
        }
      }
    }
  }
}
.Info {
  display: flex;
  flex-direction: column;
  gap: 5px;

  ul {
    list-style: none;
    gap: 5px;
    li {
      gap: 5px;

      p {
        color: gray;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
}

.Menu {
  display: flex;
}
