.Banner {
  background-color: #7bac7a;
  opacity: 0.8;
  height: 405px;
  width: 100%;

  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}

.Inside {
  background-color: #33691e;
  width: 80%;
  height: 250px;
  margin: 0 auto;
}

.Intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.Content1 {
  max-width: 1200px;

  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 20px;

  justify-content: center;

  @media screen and (max-width: 1200px) {
    padding: 20px;
    flex-direction: column-reverse;
  }
  .SubTitle {
    @media screen and (max-width: 1200px) {
      font-size: 17px;
    }
  }
}
.Content2 {
  //background: #f9f9f9;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  // justify-content: center;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
  .TitlePurpose {
    @media screen and (max-width: 1200px) {
      font-size: 17px;
    }
  }
}
.Divider {
  height: 1px;
  width: 300px;
  margin: 0 auto;
  background-color: #006400;
}
.Left {
  padding: 10px;
  width: 50%;

  .description {
    font-size: 15px;
    line-height: 20px;
  }

  @media screen and (max-width: 1200px) {
    padding: 10px;
    width: 100%;
  }
  //width: 55%;
  // height: auto;
  // padding: 80px;
}

.Content3 {
  width: 100%;
  max-width: 1260px;

  margin: 0 auto;
  padding-block: 30px;
  background-color: ivory;
}

.Title {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media screen and (max-width: 1200px) {
    font-size: 10px;
  }
}
.Container {
  display: flex;
  padding: 50px;
  margin: 0 auto;
  // height: 230px;

  @media screen and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}

.Icons {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    padding: 0;
  }
}
.Img {
  width: 70px;
  height: 60px;
}
.LeftSide {
  width: 50%;
  padding: 30px;

  border-right: 1px solid #006400;

  @media screen and (max-width: 1200px) {
    border: 0;
    width: 100%;
  }
}

.Icon {
  //height: 30px;
  color: rgb(175, 175, 175);
}
.First {
  width: 45%;
  padding: 30px;
  margin-top: 40px;
  border-right: 1px solid #006400;
}

.Step {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 800;
  gap: 10px;
  @media screen and (max-width: 1200px) {
    font-size: 15px;
  }
}

.TitlePurposeContent {
  font-size: 15px;
  line-height: 30px;
  width: 50%;

  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}
