.SearchBox {
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  border: 2px solid rgb(198, 198, 198);
  margin: 0 auto;
  padding: 0 10px;

  @media screen and (max-width: 1200px) {
    width: 100%;
    //    padding: 0 16px;
  }
}
.Line {
  display: flex;
  align-items: center;

  line-height: 10px;
}
.Icon {
  position: absolute;
  justify-content: center;
  align-items: center;
}
.Input {
  flex: 1;
  border: 0;
  padding: 15px;
  margin-left: 20px;
  font-size: 12px;
  // background-color: #e2e6e9cc;
  border-radius: 5px;
}
