.SearchBox {
  //border: 1px solid var(--gray-gray-70);
  border-radius: 5px;
  max-width: 500px;
  width: 100%;

  margin: 0 auto;

  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}
.Line {
  display: flex;
  align-items: center;

  line-height: 10px;
}
.Icon {
  position: absolute;
  justify-content: center;
  align-items: center;
}
.Input {
  flex: 1; // Take up remaining space
  border: 0;
  // height: 35px;
  padding: 15px;
  margin-left: 20px;
  font-size: 12px;
  background-color: #e2e6e9cc;
  border-radius: 5px;
}
