.Wrapper {
  width: 100%;
  max-width: 1250px;
  height: auto;
  padding: 80px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (max-width: 1200px) {
    padding: 20px 0px;
  }
}

.Category {
  font-size: 15px;
  color: green;
}

.TitleWrapper {
  height: 100px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .Title {
    font-size: 30px;
  }
}
.Profile {
  display: flex;
  align-items: center;
  gap: 5px;
  color: gray;
}

.BtnGroup {
  display: flex;

  gap: 10px;
  justify-content: center;
}

.Btn {
  font-size: 15px;
  color: white;
  background-color: green;
  border-radius: 5px;
  border: 0;
  padding: 5px;
  width: 60px;
  margin-right: 7px;
}

.Content {
  // border: 1px solid lightgray;
  min-height: 200px;
  padding: 10px;
}

.Info {
  padding: 0 0 0 10px;
  display: flex;
  flex-direction: column;
}

.CommentWrapper {
  display: flex;
  //  borderBottom:  1px solid lightgray ,
  height: 30px;
  padding: 10px;
}
.ContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Icon {
  width: 20px;
  height: 20px;
  color: gray;
}

.CommentWrapper {
  gap: 10px;
}
.IconWrapper {
  display: flex;
  gap: 4px;
}
