.Wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Board {
  border: 1px solid lightgray;
  height: auto;
}

.BoardTitle {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.BoardBody {
  border: 0;
  padding: 20px;
  background-color: lightgray;
}

.BoardContent {
  border: 0;
  padding: 20px;
  background-color: lightgray;
  min-height: 300px;
}

.ListTop {
  // margin: 20px 0 0 80px;

  background-color: lightgray;
  border-bottom: 1px solid black;
  // width: 1240px;
}

.Con {
  display: flex;
  padding: 60px;
  gap: 40px;
  margin: 0 auto;
}

.Btn {
  width: 100px;
  padding: 10px;
}
