.Header {
  padding: 10px;
}
.HeaderCell {
  padding: 10px;
}

.Cell {
  padding: 10px;
}

.Wrapper {
  overflow-x: auto;
  width: 100%;
}

.TableWrapper {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.Pagination {
  justify-content: center;
  padding-bottom: 20px;
}

.EmptyTable {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
