.Wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
  height: auto;
}

.RegisterButton {
  width: 100px;
  margin-left: auto;
  // align-self: flex-start;
}

.ButtonWrapper {
  display: flex;
  justify-content: end;
}
