.ModalContent {
  width: 700px;
  height: auto;
  background-color: white;

  box-shadow: 0 20px 50px 20px var(--shadow12, #919eab1f);
  //   border-radius: 10px;
  //   padding: 20px;
  //   display: flex;

  //   position: fixed;
  //   top: 66px;
  //   right: 446px;
}

.Content {
  padding: 40px;
}

.Title {
  font-size: 30px;

  border-bottom: 1px solid gray;
}
