@property --animation-duration {
  syntax: "<time>";
  initial-value: 0.25s;
  inherits: false;
}

.Wrapper {
  height: 70px;
  padding: 20px;
  border-bottom: 1px solid #c3c3c3;
}
.Header {
  display: flex;
  max-width: 1250px;
  margin: 0 auto;

  justify-content: space-between;
  align-items: center;
}
.Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
  @media screen and (max-width: 1200px) {
  }
}

.MenuList {
  display: flex;
  gap: 20px;
  list-style: none;
}

.Menu a {
  /* .Menu 안에 있는 a 태그에만 스타일 적용 */
  text-decoration: none;
  color: black;
}

.UtilMenu {
  text-decoration: none;
  color: gray;
  font-size: 15px;
}
.LoginUl {
  list-style-type: none;
  display: flex;
  gap: 10px;
  color: gray;
  position: absolute; // 수정된 부분: position을 fixed로 변경
  right: 20px;

  z-index: 9999;
}

.Hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.DropdownMenu {
  width: 120px;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
}

@media screen and (max-width: 496px) {
  .MenuList {
    display: none;
  }
  .Hamburger {
    display: block;
  }
}

.Content {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;

  animation: slideIn var(--animation-duration) ease-out;

  &.closing {
    animation: slideOut var(--animation-duration) ease-out;
  }
}

.MobileMenuList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;

  position: absolute;

  right: 0;
  max-width: 320px;
  width: 100%;
  height: 100vh;
  z-index: 999;
  top: 0;
  background-color: white;
  padding: 50px 0;
}

.HeaderLine {
  height: 46px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Item {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background-color: var(--backgroundSecond, #919eab14);
    font-weight: 800;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.Label {
  &:hover {
    color: var(--backgroundSecond, #42424214);
    font-weight: 800;
  }
}

.UserInfoStrong {
  color: #338d58;
  font-weight: 900;
  cursor: pointer;
}

.Logo {
  width: 110px;
}
