.Wrapper {
  max-width: clamp(0px, calc(100% - 48px), 312px);
  width: 100%;
  background: white;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grey8, #919eab14);
  box-shadow: var(--dialogx, 0px) var(--dialogy, 20px) var(--dialogblur, 50px)
    var(--dialogspread, 20px) var(--shadow20, #919eab33);
}

.ContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 16px 8px 16px;
}
.Title {
  padding-block: 4px;
  text-align: center;
  white-space: pre-line;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.Description {
  min-height: 48px;
  text-align: center;
  white-space: pre-line;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.5px;
}
.ButtonWrapper {
  display: flex;
  gap: 8px;
  padding: 16px 24px;
}
