.Wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}
.Banner {
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: 350px;
  margin: 0 auto;
}

.Popular,
.CafeWrapper {
  display: flex;
}
.Popular {
  flex-direction: row;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
  flex-direction: column;

  @media screen and (max-width: 1400px) {
    flex-direction: column;
  }
}
.Header {
  display: flex;
  gap: 15px;
  align-items: end;
  justify-content: space-between;
}
.More {
  font-size: 13px;
  color: gray;

  font-weight: 500;
}
.Content {
  display: flex;
  flex-direction: column;

  padding: 0 90px;
  gap: 50px;
  @media screen and (max-width: 1200px) {
    padding: 0 10px;
  }
}
.RestauantContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 100%;
  gap: 20px;

  @media screen and (max-width: 1200px) {
    margin: 0;
    width: 100%;
  }

  @media screen and (max-width: 930px) {
    grid-template-columns: repeat(2, 1fr);
  }

  ul {
    list-style: none;
    font-size: 15px;
    text-align: center;
  }
}
.Btn {
  padding: 10px;
  // margin-top: 80px;
  border-radius: 5px;
  border: 0;
  background-color: green;
  color: white;
}
.CafeWrapper {
  flex-direction: row;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
  overflow: visible;
  flex-direction: column;

  @media screen and (max-width: 1400px) {
    flex-direction: column;
  }

  .CafeContent {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    overflow: visible;

    :global {
      .swiper-pagination {
        bottom: -3px !important;
        position: relative;
      }
    }
    @media screen and (max-width: 1200px) {
      margin: 0;
      width: 100%;
    }

    @media screen and (max-width: 930px) {
      grid-template-columns: repeat(2, 1fr);
    }

    ul {
      list-style: none;
      font-size: 15px;
      text-align: center;
    }
  }
}

.Name {
  background-color: #ffff;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  //margin: 0 auto;
  margin-top: -20px;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
  font-size: 15px;
  font-weight: 600;

  &::before {
    position: absolute;
    content: "";
    transform: translate3d(0, 0.75em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
  }

  &:hover {
    transform: translate(0, -1.375em);
  }
  &:hover::before {
    transform: translate3d(0, 0.75em, -1em);
  }
  & :active {
    transform: translate(0em, 0.75em);
  }

  &:active::before {
    transform: translate3d(0, 0, -1em);

    box-shadow:
      0 0 0 2px var(--colorShadeB),
      0 0.25em 0 0 var(--colorShadeB);
  }
}

.BoardWrapper {
  display: flex;
  width: 100%;
  ul {
    padding: 0;
  }
}
.Inner {
  height: 300px;

  width: 100%;
  background-color: #f9f9f9;

  padding: 10px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1200px) {
    width: 100%;
  }

  ul {
    list-style: none;
  }
}
.Lists {
  display: flex;
  border-bottom: 1px solid lightgray;
  height: auto;
  gap: 30px;
}

.BoardList {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-gray-90);
  margin-bottom: -20px;

  height: 130px;
  .Left {
    flex-grow: 1;
    text-align: left;
  }

  .Right {
    display: flex;
    align-items: center;
    padding-right: 10px;
  }

  .ItemContent {
    color: var(--gray-gray-70);

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 400px;
  }
  .Date {
    color: var(--gray-gray-70);
    font-size: 10px;
  }
}
.Image {
  background-color: #fdf5e6;

  height: 150px;
}

.Swiper {
  width: 100%;
  padding: 10px !important;
}
.SwipperWrapper {
  display: flex;
  &:hover {
    .Link {
      filter: brightness(0.9);
    }

    .Link:hover {
      filter: brightness(1.02);
    }
  }
}
.Link {
  transition: filter 0.25s ease-in-out;
}

.Slide {
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;

  &.Visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.Thumbnail {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  position: relative;
  box-shadow: 3px 3px 2px lightgray;

  overflow: hidden;
}

.Thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.FaqList {
  display: flex;
  flex-direction: column;
  padding: 0 90px;
  gap: 10px;
  .Title {
    text-align: center;
  }
}
.FaqButton {
  padding: 10px;
  width: 300px;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid rgb(185, 193, 193);
}

.Answer {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 15px;
}

.AnswerContent {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgb(209, 209, 219);
}
