.Wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}
.Banner {
  border: 1px solid rgb(118, 159, 118);
  max-width: 1200px;
  width: 100%;
  height: 350px;
  margin: 0 auto;
}

.Popular,
.CafeWrapper {
  display: flex;
  //   flex-direction: column;
}
.Popular {
  flex-direction: row;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
  flex-direction: column;

  @media screen and (max-width: 1400px) {
    flex-direction: column;
  }
}
.Header {
  display: flex;
  gap: 15px;
  align-items: center;
  //padding: 10px;
  //width: 25%;
}
.More {
  font-size: 15px;
  color: green;
  font-weight: 500;
}
.Content {
  display: flex;
  flex-direction: column;

  padding: 0 90px;
  gap: 50px;
  @media screen and (max-width: 1200px) {
    padding: 0 10px;
  }
}
.RestauantContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 100%;
  gap: 20px;

  @media screen and (max-width: 1200px) {
    margin: 0;
    width: 100%;
  }

  @media screen and (max-width: 930px) {
    grid-template-columns: repeat(2, 1fr);
  }

  ul {
    list-style: none;
    font-size: 15px;
    text-align: center;
  }
}
.Btn {
  padding: 10px;
  // margin-top: 80px;
  border-radius: 5px;
  border: 0;
  background-color: green;
  color: white;
}
.CafeWrapper {
  flex-direction: row;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  gap: 20px;

  flex-direction: column;

  @media screen and (max-width: 1400px) {
    flex-direction: column;
  }

  .Name {
    background-color: #ffff;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);

    &::before {
      position: absolute;
      content: "";
      transform: translate3d(0, 0.75em, -1em);
      transition: all 175ms cubic-bezier(0, 0, 1, 1);
    }

    &:hover {
      transform: translate(0, -1.375em);
    }
    &:hover::before {
      transform: translate3d(0, 0.75em, -1em);
    }
    & :active {
      transform: translate(0em, 0.75em);
    }

    &:active::before {
      transform: translate3d(0, 0, -1em);

      box-shadow:
        0 0 0 2px var(--colorShadeB),
        0 0.25em 0 0 var(--colorShadeB);
    }
  }

  .CafeContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: 100%;
    gap: 20px;

    @media screen and (max-width: 1200px) {
      margin: 0;
      width: 100%;
    }

    @media screen and (max-width: 930px) {
      grid-template-columns: repeat(2, 1fr);
    }

    ul {
      list-style: none;
      font-size: 15px;
      text-align: center;
    }
  }
  //   max-width: 1100px;
  //   width: 100%;
  //   margin: 0 auto;
  //   //margin-top: 30px;

  //   gap: 20px;
  //   padding-bottom: 20px;
  //   @media screen and (max-width: 1400px) {
  //     flex-direction: column;
  //   }
}
.BoardWrapper {
  display: flex;
  width: 100%;
  ul {
    padding: 0;
  }
}
.Inner {
  height: 300px;

  width: 100%;
  background-color: #f9f9f9;

  padding: 10px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1200px) {
    width: 100%;
  }

  ul {
    list-style: none;
  }
}
.Lists {
  display: flex;
  border-bottom: 1px solid lightgray;
  height: auto;
  gap: 30px;
}

.BoardList {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-gray-90);
  margin-bottom: -20px;

  height: 130px;
  .Left {
    flex-grow: 1;
    text-align: left;
  }

  .Image {
    // width: 100px;
    // height: 100px;
    border-radius: 5px;
    background-color: rgb(183, 183, 183);
  }

  .Right {
    display: flex;
    align-items: center;
    padding-right: 10px;
  }

  .ItemContent {
    color: var(--gray-gray-70);
    // display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 400px;
    //height: 50px;
  }
  .Date {
    color: var(--gray-gray-70);
    font-size: 10px;
  }
}
.Image {
  background-color: #fdf5e6;

  height: 150px;
}
