.Wrapper {
  width: 100%;
  height: auto;
  padding: 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (max-width: 1200px) {
    padding: 80px 0px;
  }
}
.Category {
  font-size: 15px;
  color: green;
}

.TitleWrapper {
  height: 80px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  .Title {
    font-size: 30px;
  }
}

.Profile {
  height: auto;
  border-bottom: 1px solid lightgray;
  display: flex;
}
.BtnGroup {
  display: flex;

  gap: 10px;
  justify-content: center;
  width: 100%;
}

.ContentWrapper {
  border: 1px solid lightgray;
  padding: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Content {
  padding: 10px;
  width: 100%;
  border: none;
  min-height: 100px;
}

.Info {
  padding: 0 0 0 10px;
  display: flex;
  flex-direction: column;
}

.Comment {
  padding: 20px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
}
.Text {
  width: 100%;
  min-height: 300px;
}
.Title {
  margin: 10px 0 0 10px;
  font-size: 15px;
}

.Input {
  padding: 10px;
  font-size: 20px;
  border: none;
}

.ContentEditor {
  width: 100%; // 너비 고정
  min-height: 460px;

  :global(.ql-container) {
    min-height: 400px;
  }
}
